body {
  font-family: Lato, sans-serif;
  color: #1d1d1d;
  font-size: 12pt;
}

a {
  color: #075891;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, sans-serif;
}

.auditBox {
    max-height: 350px;
    overflow-y: scroll;
}

#nav-home a {
  background-image: url('/images/conjur-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 12em;
}

#content {
  padding: 1em;
}

.navbar:after {
  content: "\200C";
  background-image: url('/images/icon-service-dots.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 3.7em;
  height: 3.7em;
  top: 0px;
  right: 0px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transform: opacity 0.5s;
  transition: opacity 0.5s;
}

.pace-running .navbar:after {
  -webkit-animation: pace-pulse 1s alternate infinite;
  animation: pace-pulse 1s alternate infinite;
}

@-webkit-keyframes pace-pulse {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes pace-pulse {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

thead {
  border-bottom: #999999 thin solid;
}

tbody:before {
  line-height: 0.1em;
  content: "\200C";
  display: block;
}

th, td {
  padding: 0.4em;
}

.groupsList tbody tr td.id {
  background-image: url('/images/icon-person.svg'), url('/images/icon-person.svg');
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: -0.4em -0.2em, 0.4em 0.2em;
  padding-left: 2.5em;
}
